<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h3>Pembelian Skin Berhasil !
    </h3>
    <p>Jangan lupa beli skin lebih banyak agar kami kaya.</p>
</body>

</html>