<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h3>Hi, <%= name %>, Selamat bergabung dalam game !
    </h3>
    <p>Jangan lupa beli skin yang banyak agar kami kaya.</p>

    <script src="./client.js"></script>
</body>

</html>