<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Game</title>
</head>

<body>
    <h1>Selamat bergabung dalam game !</h1>
    <p>Jangan lupa beli skin yang banyak agar kami kaya.</p> 

    <script src="../../client/client.js"></script>
</body>

</html>